<footer class="footer">
  <div class="d-sm-flex justify-content-center justify-content-sm-between">
    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2019 <a href="http://www.heydayadvertising.com/" target="_blank">Heyday Advertising</a>. All rights reserved.</span>

  </div>
</footer>