.btn-save {
    color: #ffffff;
    background-color: #00ce68;
    border-color: #00ce68;
    opacity: 1;
}

.btn-save:hover {
    color: #ffffff;
    background-color: #28a745;
    border-color: #28a745;
}