<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Users</h3>
        <div class="alert alert-fill-success" role="alert" *ngIf="response.status == 1">
          <i class="mdi mdi-alert-circle"></i>
          {{response.message}}
      </div>
      <div class="alert alert-fill-danger" role="alert" *ngIf="response.status == 0">
          <i class="mdi mdi-alert-circle"></i>
          {{response.message}}
      </div>
        <div class="table-responsive">
            <button class="btn btn-primary btn-fw btn-new-category" (click)="createUser(true)" style="margin-bottom: 20px;">New User</button>
            <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>
                  Name
                </th>
                <th>
                  Email
                </th>
                <th>
                  Rol
                </th>
                <th>
                  Options
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of arrayUser | slice: pageSize | slice: 0:itemsPerPage; index as i">
                <td>
                  {{user.name}}
                </td>
                <td>
                  {{user.email}}
                </td>
                <td>
                  {{user.rol}}
                </td>   
                <td>
                  <div class="template-demo">
                    <button type="button" class="btn btn-warning btn-xs" (click)="updateUser(i)"><i class="fa fa-edit"></i></button>
                    <button type="button" class="btn btn-danger btn-xs" (click)="deleteUser(i)"><i class="fa fa-window-close"></i></button>
                    </div>
                </td>  
              </tr>
            </tbody>
          </table>
          <ngb-pagination [collectionSize]="arrayUser.length"  #numPages [pageSize]="itemsPerPage" [(page)]="currentPage" (pageChange)="onPageChange(currentPage)" class="tab-solid tab-solid-primary"></ngb-pagination>
        </div>
       
      </div>
    </div>
  </div>
  <!-- fin principal div -->
  </div> 
  
  <div class="row" *ngIf="view === true">
      <div class="col-md-12  grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
              <div style="float: right;"><i class="mdi mdi-close" (click)="deleteview()"></i></div>
            <h4 class="card-title">User</h4>
            <form #userform="ngForm">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="dateOfBirth">Name:</label>
                  <div class="form-group">
                    <input type="text" [(ngModel)]="user_name" name="name" id="name" class="form-control" placeholder="" required #name="ngModel">
                    <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
                      <div [hidden]="!name.errors.required">
                          Name is Required!
                      </div>  
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="dateOfBirth">Email:</label>
                  <div class="form-group">
                    <input type="text" [(ngModel)]="user_email" name="email" class="form-control"
                      placeholder="examples@heydaytechs.com" email #email="ngModel" [ngModelOptions]="{standalone: true}" >
                      <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
                          <div [hidden]="!email.errors.email">
                              Email Invalid
                          </div>  
                        </div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="dateOfBirth">Rol:</label>
                    <select [(ngModel)]="user_rol"  (change)="selectOption($event.target.value)" name="user_rol" class="form-control">
                      <option value="-1">Select Option</option>
                      <option value="1" >Administrator</option>
                      <option value="2">Customer</option>
                    </select>
                  </div>
                <div class="form-group col-md-6">
                  <label for="dateOfBirth">Password:</label>
                  <div class="form-group">
                    <input type="text" [(ngModel)]="user_password" name="note" id="note"  class="form-control" placeholder="">
                  </div>
                </div>
               
              </div>
              <div class="modal-footer">
                <button class="btn btn-save" [disabled]="!userform.form.valid" (click)="addUser()">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>