<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Tonners</h3>
            <div class="alert alert-fill-success" role="alert" *ngIf="response.status == 1">
              <i class="mdi mdi-alert-circle"></i>
              {{response.message}}
          </div>
          <div class="alert alert-fill-danger" role="alert" *ngIf="response.status == 0">
              <i class="mdi mdi-alert-circle"></i>
              {{response.message}}
          </div>
          <div class="table-responsive">
              <button class="btn btn-primary btn-fw btn-new-category" (click)="createToner(true)" style="margin-bottom: 20px;"  *ngIf="arrayToner == 0">New Toner</button>
              <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>
                    Cyan
                  </th>
                  <th>
                    Magenta
                  </th>
                  <th>
                    Yellow
                  </th>
                  <th>
                    Black
                  </th>
                  <th>
                    Printer
                  </th>
                  <th>
                    Options
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let toner of arrayToner; index as i">
                  <td>
                    {{toner.toners[0].percentage}} %
                  </td>
                  <td>
                    {{toner.toners[1].percentage}} %
                  </td>
                  <td>
                    {{toner.toners[2].percentage}} %
                  </td>
                  <td>
                    {{toner.toners[3].percentage}} %
                  </td>
                  <td>
                    {{toner.Serial}}
                  </td>   
                  <td>
                    <div class="template-demo">
                      <button type="button" class="btn btn-warning btn-xs" (click)="updateToner(i)"><i class="fa fa-edit"></i></button>
                      <!-- <button type="button" class="btn btn-danger btn-xs" (click)="deleteToner(i)"><i class="fa fa-window-close"></i></button> -->
                      </div>
                  </td>  
                </tr>
              </tbody>
            </table>
          </div>
         
        </div>
      </div>
    </div>
    <!-- fin principal div -->
    </div> 


<div class="row"  *ngIf="view === true">
    <div class="col-md-12  grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Toners</h4>
          <form #tonerform="ngForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="dateOfBirth">Printer ID:</label>
                <div class="form-group">
                  <input type="text" [(ngModel)]="id_printer" name="id_printer" id="id_printer" class="form-control" placeholder="" required disabled #id_printerr="ngModel">
                  <div *ngIf="id_printerr.errors && (id_printerr.dirty || id_printerr.touched)" class="alert alert-danger">
                    <div [hidden]="!id_printerr.errors.required">
                        Printer ID is Required!
                    </div>  
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                  <label for="dateOfBirth">Cyan:</label>
                  <div class="input-group">
                    <input type="number" [(ngModel)]="cyan" name="cyan" class="form-control"
                      placeholder="" min="0" max="100">
                  </div>
              </div>
              <div class="form-group col-md-6">
                <label for="dateOfBirth">Magenta:</label>
                <div class="form-group">
                  <input type="number" [(ngModel)]="magenta" name="magenta" id="magenta" class="form-control" min="0" max="100">
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="dateOfBirth">Yellow:</label>
                <div class="form-group">
                  <input type="number" [(ngModel)]="yellow" name="yellow" class="form-control"
                    placeholder="" min="0" max="100"> 
                </div>
              </div>
              <div class="form-group col-md-6">
                  <label for="dateOfBirth">Black:</label>
                  <div class="form-group">
                    <input type="number" [(ngModel)]="black" name="black" class="form-control"
                      placeholder="" min="0" max="100">
                  </div>
                </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-save" [disabled]="!tonerform.form.valid" (click)="addToner()">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>