<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Customers</h3>
        <div class="alert alert-fill-success" role="alert" *ngIf="response.status == 1">
          <i class="mdi mdi-alert-circle"></i>
          {{response.message}}
        </div>
        <div class="alert alert-fill-danger" role="alert" *ngIf="response.status == 0">
          <i class="mdi mdi-alert-circle"></i>
          {{response.message}}
        </div>
        <div class="table-responsive">
          <button class="btn btn-primary btn-fw btn-new-category" (click)="createCustomer(true)"
            style="margin-bottom: 20px;">New Customer</button>
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>
                  Name
                </th>
                <th>
                  Address
                </th>
                <th>
                  Note
                </th>
                <th>
                  Email
                </th>
                <th>
                  Options
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let customer of arrayCustomer | slice: pageSize | slice: 0:itemsPerPage; index as i">
                <td>
                  {{customer.name}}
                </td>
                <td>
                  {{customer.address}}
                </td>
                <td>
                  {{customer.note}}
                </td>
                <td>
                  {{customer.email}}
                </td>
                <td>
                  <div class="template-demo">
                    <button type="button" class="btn btn-primary btn-xs"
                      (click)="viewPrinter(viewDetail,customer.id)"><i class="fa fa-bars"></i></button>
                    <button type="button" class="btn btn-warning btn-xs" (click)="updateCustomer(i)"><i
                        class="fa fa-edit"></i></button>
                    <button type="button" class="btn btn-danger btn-xs" (click)="deleteCustomer(i)"><i
                        class="fa fa-window-close"></i></button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <ngb-pagination [collectionSize]="arrayCustomer.length" #numPages [pageSize]="itemsPerPage"
            [(page)]="currentPage" (pageChange)="onPageChange(currentPage)" class="tab-solid tab-solid-primary">
          </ngb-pagination>
        </div>

      </div>
    </div>
  </div>
  <!-- fin principal div -->
</div>



<div class="row" *ngIf="view === true">

  <div class="col-md-12  grid-margin stretch-card">

    <div class="card">
      <div class="card-body">
        <div style="float: right;"><i class="mdi mdi-close" (click)="deleteview()"></i></div>
        <h4 class="card-title">Customer</h4>
        <form #customerform="ngForm">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="dateOfBirth">Name:</label>
              <div class="form-group">
                <input type="text" [(ngModel)]="customer_name" name="name" id="name" class="form-control" placeholder=""
                  required #name="ngModel">
                <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
                  <div [hidden]="!name.errors.required">
                    Name is Required!
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="dateOfBirth">Address:</label>
              <div class="input-group">
                <input type="text" [(ngModel)]="customer_address" name="address" class="form-control" placeholder="">
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="dateOfBirth">Note:</label>
              <div class="form-group">
                <input type="text" [(ngModel)]="customer_note" name="note" id="note" class="form-control"
                  placeholder="">
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="dateOfBirth">Email:</label>
              <div class="form-group">
                <input type="text" [(ngModel)]="customer_email" name="email" class="form-control"
                  placeholder="examples@heydaytechs.com" email #email="ngModel" [ngModelOptions]="{standalone: true}">
                <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
                  <div [hidden]="!email.errors.email">
                    Email Invalid
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="dateOfBirth">you want to receive notifications from your printers?</label>
              <select [(ngModel)]="selectnotification" (change)="selectOption($event.target.value)" name="selectBlack"
                class="form-control">
                <option value="-1">Select Option</option>
                <option value="1">Yes</option>
                <option value="0">No</option>
              </select>
            </div>
            <div class="form-group col-md-6" *ngIf="notificationview == true">
              <label for="dateOfBirth">percentage status:</label>
              <div class="input-group">
                <input type="number" [(ngModel)]="percentage_status" min="0" max="100" name="percentage_status"
                  class="form-control" placeholder="">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-save" [disabled]="!customerform.form.valid" (click)="addCustomer()">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<app-printers *ngIf="viewPrint === true" [arrayPrinter]="arrayPrinter" [filter]="filter"></app-printers>