<nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row barra-menu">
  <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
    <!--<a class="navbar-brand brand-logo" href="index.html">-->
        <a class="navbar-brand brand-logo">
        <img  src="./assets/images/logo1.png">
        <img class="img-footer" src="./assets/images/footer-logo.png">
    </a>
   
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-center texto-menup">
    <ul class="navbar-nav navbar-nav-right">
      <li class="nav-item dropdown d-none d-xl-inline-block" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="UserDropdown" ngbDropdownToggle>
          <span class="profile-text">Hello, {{user.name}}</span>
          <img class="img-xs rounded-circle" src="assets/images/favicon-heyday.png" alt="Profile image">
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" ngbDropdownMenu aria-labelledby="UserDropdown">
        
          <a class="dropdown-item mt-2">
            Manage Account
          </a>
          <a class="dropdown-item" (click)="logOut()">
            Sign Out
          </a>
        </div>
      </li>
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" (click)="toggleOffcanvas()">
      <span class="mdi mdi-menu"></span>
    </button>
  </div>
</nav>
