<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Orders</h3>
        <div class="alert alert-fill-success" role="alert" *ngIf="response.status == 1">
          <i class="mdi mdi-alert-circle"></i>
          {{response.message}}
        </div>
        <div class="alert alert-fill-danger" role="alert" *ngIf="response.status == 0">
          <i class="mdi mdi-alert-circle"></i>
          {{response.message}}
        </div>
        <div class="table-responsive">
          <button class="btn btn-primary btn-fw btn-new-category" (click)="createOrder(true)"
            style="margin-bottom: 20px;">New Order</button>
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>
                  Id Order
                </th>
                <th>
                  Id Customer
                </th>
                <th>
                  Name
                </th>
                <th>
                  Cyan Quantity
                </th>
                <th>
                  Magenta Quantity
                </th>
                <th>
                  Black Quantity
                </th>
                <th>
                  Yellow Quantity
                </th>
                <th>
                  Options
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of arrayOrder | slice: pageSize | slice: 0:itemsPerPage; index as i">
                <td>
                  {{order.id.$oid}}
                </td>
                <td>
                  {{order.id_customer}}
                </td>
                <td>
                  {{order.customer_name}}
                </td>
                <td>
                  {{order.quantity_cyan}}
                </td>
                <td>
                  {{order.quantity_magenta}}
                </td>
                <td>
                  {{order.quantity_black}}
                </td>
                <td>
                  {{order.quantity_yellow}}
                </td>
                <td>
                  <div class="template-demo">
                    <button type="button" class="btn btn-warning btn-xs" (click)="updateOrder(i)"><i
                        class="fa fa-edit"></i></button>
                    <button type="button" class="btn btn-danger btn-xs" (click)="deleteOrder(i)"><i
                        class="fa fa-window-close"></i></button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <ngb-pagination [collectionSize]="arrayOrder.length" #numPages [pageSize]="itemsPerPage"
            [(page)]="currentPage" (pageChange)="onPageChange(currentPage)" class="tab-solid tab-solid-primary">
          </ngb-pagination>
        </div>

      </div>
    </div>
  </div>
  <!-- fin principal div -->
</div>
<div class="row" *ngIf="view === true">
  <div class="col-md-12  grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div style="float: right;"><i class="mdi mdi-close" (click)="deleteview()"></i></div>
        <h4 class="card-title">Order</h4>
        <form #orderForm="ngForm">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="dateOfBirth">Id Customer:</label>
              <div class="input-group">
                <input type="text" [(ngModel)]="order_idCustomer" name="address" class="form-control" placeholder=""
                  disabled>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="dateOfBirth">Name:</label>
              <select [(ngModel)]="selectCustomer" (change)="selectOptionCustomer($event.target.value)"
                name="selectCustomer" class="form-control">
                <option value="-1">Select Option</option>
                <option *ngFor="let customer of arrayCustomer;let i = index" [value]="customer.id.$oid">
                  {{customer.name}}</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="dateOfBirth">Cyan:</label>
              <select [(ngModel)]="selectCyan" (change)="selectOption(1,$event.target.value)" name="selectCyan"
                class="form-control">
                <option value="-1">Select Option</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
            </div>
            <div class="form-group col-md-6" *ngIf="cyanview == true">
              <label for="dateOfBirth">Cyan Quantity:</label>
              <div class="form-group">
                <input type="number" [(ngModel)]="order_quantityCyan" name="order_quantityCyan" min="0"
                  class="form-control" placeholder="">
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="dateOfBirth">Magenta:</label>
              <select [(ngModel)]="selectMagenta" (change)="selectOption(2,$event.target.value)" name="selectMagenta"
                class="form-control">
                <option value="-1">Select Option</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
            </div>
            <div class="form-group col-md-6" *ngIf="magentaview == true">
              <label for="dateOfBirth">Magenta Quantity:</label>
              <div class="form-group">
                <input type="number" [(ngModel)]="order_quantityMagenta" name="order_quantityMagenta" min="0"
                  class="form-control" placeholder="">
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="dateOfBirth">Yellow:</label>
              <select [(ngModel)]="selectYellow" (change)="selectOption(3,$event.target.value)" name="selectYellow"
                class="form-control">
                <option value="-1">Select Option</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
            </div>
            <div class="form-group col-md-6" *ngIf="yellowview == true">
              <label for="dateOfBirth">Yellow Quantity:</label>
              <div class="form-group">
                <input type="number" [(ngModel)]="order_quantityYellow" name="order_quantityYellow" min="0"
                  class="form-control" placeholder="">
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="dateOfBirth">Black:</label>
              <select [(ngModel)]="selectBlack" (change)="selectOption(4,$event.target.value)" name="selectBlack"
                class="form-control">
                <option value="-1">Select Option</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
            </div>
            <div class="form-group col-md-6" *ngIf="blackview == true">
              <label for="dateOfBirth">Black Quantity:</label>
              <div class="form-group">
                <input type="number" [(ngModel)]="order_quantityBlack" name="order_quantityBlack" min="0"
                  class="form-control" placeholder="">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-save" [disabled]="!orderForm.form.valid" (click)="addOrder()">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>