<div class="container-scroller" *ngIf="islogin==1">
  <app-navbar></app-navbar>
  <div class="container-fluid page-body-wrapper">
    <app-sidebar></app-sidebar>
    <div class="main-panel">
      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>
      <app-footer></app-footer>
    </div>
  </div>
</div>

<div class="row container-general" *ngIf="islogin==0">
<div class="col-lg-4 ml-auto mr-auto container-login align-middle">
  <div class="col-lg-12 second-col">
    <div class="row"> 
        
      <form class="col-lg-10 ml-auto mr-auto ">
          <img src="./assets/images/logotr.jpg" class="img-login img-responsive">
          <div class="alert alert-fill-danger" role="alert" *ngIf="response.status == 0">
              <i class="mdi mdi-alert-circle"></i>
              {{response.message}}
            </div>
        <div class="form-group">
          <!--<label for="exampleInputEmail1">Email address</label>-->
          <input type="email" class="form-control" [(ngModel)]="user.email"  name="email" aria-describedby="emailHelp" placeholder="Enter email">
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
       </div>
        <div class="form-group">
          <!--<<label for="exampleInputPassword1">Password</label>-->
          <input type="password" class="form-control" [(ngModel)]="user.password" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary  btn-block" (click)="login()">Log In</button>
      </form>
    </div>
    
  </div>
  
</div>

</div>