

.container-general{
    background-image: rgb(206, 206, 206);
    height: 100vh;
}

.container-login {
    margin-top: 20vh;
    background: #f2f2f2;
    border-radius: 10px;
    margin-bottom: 20vh;
    /*-webkit-box-shadow: 0px 27px 71px -3px rgba(0, 0, 0, 0.13);
-moz-box-shadow: 0px 27px 71px -3px rgba(0, 0, 0, 0.13);
box-shadow: 0px 27px 71px -3px rgba(0, 0, 0, 0.13);*/
}

.container-login  > .row:first-child {
    height: 60vh;  
}

.first-col{
   
    background-image:url('/assets/images/login/bg_login_d.jpg');
    background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
 border-radius: 10px 0px 0px 10px;
 display: flex;
    align-items: center;
}
.first-col > .row:first-child{
    margin-left: 0px;
    width: 100%;
    margin-right: 0px;
    color:white;
    // height: 40vh;
}

.first-col > .row:first-child > div > p:first-child{
    font-size: 57px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    text-align: center;
    text-shadow: 0 0 5px #fff;
}

.first-col > .row:first-child > div > p:last-child{
    font-size: 18px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    text-align: center;
    text-shadow: 0 0 30px #fff;
}

.second-col{
    display: flex;
    align-items: center;
}

.second-col > .row:first-child{
    margin-left: 0px;
    width: 100%;
    margin-right: 0px;
    //margin-top: 10vh;
}

.second-col > .row:first-child > div:first-child{
   text-align: center;
}

.second-col .btn-primary {
    color: #fff;
    background-color: #03aff6;
    border-color: #03aff6;
    //border-radius: 20px;
    padding: 16px 0px;
    margin-bottom: 50px;
}

.second-col .form-control {
    //border: 1px solid #e2e2e2; 
    border: 1px solid #03aff6;
    //border-radius: 20px;
    padding: 20px 10px 20px 10px;
}

.second-col .btn-primary:hover {
    color: #fff;
    background-color: #076ecf;
    border-color: #076ecf;
}

.second-col .form-control:focus {
    color: #200f00;
    background-color: #fff;
    border-color: #ff0294;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.007);
}

.img-login {
    width: auto;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 30px;
    margin-top: 50px;
    border-radius: 100px;
}

@media (min-width: 992px) {
.col-lg-10 {
    flex: 0 0 80% !important;
    max-width: 100% !important;
}
}

/*.row {
    display: block !important;
}*/

.container-general{
    display: flex;
    align-items: center;
    justify-content: center;
}