<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <!--<li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="user-wrapper">
          <div class="profile-image">
            <img src="assets/images/favicon-heyday.png" alt="profile image">
          </div>
          <div class="text-wrapper">
            <p class="profile-name">{{user.name}}</p>
            <div>
              <small class="designation text-muted">{{user.rol}}</small>
              <span class="status-indicator online indicator-style"></span>
            </div>
          </div>
        </div>
      </div>
    </li>-->
    <li class="nav-item">
      <a class="nav-link" routerLink="/customers" routerLinkActive="active">
        <i class="menu-icon mdi mdi-account-plus"></i>
        <span class="menu-title">Customers</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/printers" routerLinkActive="active">
        <i class="menu-icon mdi mdi-printer"></i>
        <span class="menu-title">Printers</span>
      </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/orders" routerLinkActive="active">
          <i class="menu-icon mdi mdi-cart"></i>
          <span class="menu-title">Order</span>
        </a>
    </li>
      <li class="nav-item" *ngIf="user.rol === 'Administrator'">
          <a class="nav-link" routerLink="/users" routerLinkActive="active">
            <i class="menu-icon mdi mdi-account"></i>
            <span class="menu-title">Users</span>
          </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/reports" routerLinkActive="active">
          <i class="menu-icon mdi mdi-chart-arc"></i>
          <span class="menu-title">Report</span>
        </a>
    </li>
  </ul>
</nav>
