<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Printers</h3>
        <div class="alert alert-fill-success" role="alert" *ngIf="response.status == 1">
          <i class="mdi mdi-alert-circle"></i>
          {{response.message}}
        </div>
        <div class="alert alert-fill-danger" role="alert" *ngIf="response.status == 0">
          <i class="mdi mdi-alert-circle"></i>
          {{response.message}}
        </div>
        <ngb-tabset class="tab-solid tab-solid-primary">
          <ngb-tab>
            <ng-template ngbTabTitle>
              <i class="mdi mdi-printer"></i>Printers
            </ng-template>
            <ng-template ngbTabContent>
              <!-- <div class="row"> -->
              <div class="table-responsive">
                <button class="btn btn-primary btn-fw btn-new-category" (click)="createPrinter(true)"
                  style="margin-bottom: 20px;" *ngIf="filter != null">New Printer</button>
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>
                        Serial
                      </th>
                      <th>
                        Make
                      </th>
                      <th>
                        Model
                      </th>
                      <th>
                        IP Address
                      </th>
                      <th>
                        Note
                      </th>
                      <th>
                        Options
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let printer of arrayPrinter | slice: pageSize | slice: 0:itemsPerPage; index as i">
                      <td>
                        {{printer.serial}}
                      </td>
                      <td>
                        {{printer.make}}
                      </td>
                      <td>
                        {{printer.model}}
                      </td>
                      <td>
                        {{printer.ip}}
                      </td>
                      <td>
                        {{printer.note}}
                      </td>
                      <td>
                        <div class="template-demo">
                          <button type="button" class="btn btn-primary btn-xs"
                            (click)="viewToner(viewDetail,printer)"><i class="fa fa-bars"></i></button>
                          <button type="button" class="btn btn-warning btn-xs" (click)="updatePrinter(i)"><i
                              class="fa fa-edit"></i></button>
                          <button type="button" class="btn btn-danger btn-xs" (click)="deletePrinter(i)"><i
                              class="fa fa-window-close"></i></button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <ngb-pagination [collectionSize]="arrayPrinter.length" #numPages [pageSize]="itemsPerPage"
                  [(page)]="currentPage" (pageChange)="onPageChange(currentPage)" class="tab-solid tab-solid-primary">
                </ngb-pagination>
              </div>
              <!-- </div> -->
            </ng-template>
          </ngb-tab>
          <ngb-tab *ngIf="filter != null">
            <ng-template ngbTabTitle>
              <div class="mdi mdi-truck" (click)="getStock()">Stock</div>
            </ng-template>
            <ng-template ngbTabContent>
              <h3 class="card-title">Toner Color</h3>
              <div class="table-responsive">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>
                        Cyan
                      </th>
                      <th>
                        Yellow
                      </th>
                      <th>
                        Magenta
                      </th>
                      <th>
                        Black
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let order of arrayOrder; index as i">
                      <td>
                        {{order.Cyan}}
                      </td>
                      <td>
                        {{order.Yellow}}
                      </td>
                      <td>
                        {{order.Magenta}}
                      </td>
                      <td>
                        {{order.Black}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>


      </div>
    </div>
  </div>
  <!-- fin principal div -->
</div>


<div class="row" *ngIf="view === true">
  <div class="col-lg-12  grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div style="float: right;"><i class="mdi mdi-close" (click)="deleteview()"></i></div>
        <h4 class="card-title">Printer</h4>
        <form #printerform="ngForm">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="dateOfBirth">customer ID:</label>
              <div class="form-group">
                <input type="text" [(ngModel)]="printer_idCustomer" name="id_customer" id="id_customer"
                  class="form-control" placeholder="" required disabled #id_customer="ngModel">
                <div *ngIf="id_customer.errors && (id_customer.dirty || id_customer.touched)"
                  class="alert alert-danger">
                  <div [hidden]="!id_customer.errors.required">
                    Customer ID is Required!
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="dateOfBirth">Serial:</label>
              <div class="input-group">
                <input type="text" [(ngModel)]="printer_serial" name="serial" class="form-control" placeholder="">
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="dateOfBirth">Make:</label>
              <div class="form-group">
                <input type="text" [(ngModel)]="printer_make" name="make" id="make" class="form-control" placeholder="">
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="dateOfBirth">Model:</label>
              <div class="form-group">
                <input type="text" [(ngModel)]="printer_model" name="model" class="form-control" placeholder="">
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="dateOfBirth">IP Address:</label>
              <div class="form-group">
                <input type="text" [(ngModel)]="printer_ip" name="ip" class="form-control" placeholder="">
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="dateOfBirth">Note:</label>
              <div class="form-group">
                <input type="text" [(ngModel)]="printer_note" name="note" class="form-control" placeholder="">
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="dateOfBirth">you want to receive notifications from your printer?</label>
              <select [(ngModel)]="selectnotification" (change)="selectOption($event.target.value)" name="selectBlack"
                class="form-control">
                <option value="-1">Select Option</option>
                <option value="1">Yes</option>
                <option value="0">No</option>
              </select>
            </div>
            <div class="form-group col-md-6" *ngIf="notificationview == true">
              <label for="dateOfBirth">percentage status:</label>
              <div class="input-group">
                <input type="number" [(ngModel)]="percentage_status" min="0" max="100" name="percentage_status"
                  class="form-control" placeholder="">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-save" [disabled]="!printerform.form.valid" (click)="addPrinter()">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<app-toners *ngIf="viewPrint === true" [arrayToner]="arrayToner" [filter]="filter"></app-toners>