<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">configure</h3>
        <div class="alert alert-fill-success" role="alert" *ngIf="response.status == 1">
          <i class="mdi mdi-alert-circle"></i>
          {{response.message}}
        </div>
        <div class="alert alert-fill-danger" role="alert" *ngIf="response.status == 0">
          <i class="mdi mdi-alert-circle"></i>
          {{response.message}}
        </div>
        <ngb-tabset class="tab-solid tab-solid-primary">
          <ngb-tab>
            <ng-template ngbTabTitle>
              <i class="mdi mdi-alarm"></i>Hour
            </ng-template>
            <ng-template ngbTabContent>
              <div class="table-responsive">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>
                        Hour
                      </th>
                      <th>
                        date change configure
                      </th>
                      <th>
                        Option
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let customer of arrayreport; index as i">
                      <td>
                        {{customer.hour}}
                      </td>
                      <td>
                        {{customer.date_created}}
                      </td>
                      <td>
                        <div class="template-demo">
                          <button type="button" class="btn btn-warning btn-xs" (click)="updateReport(i)"><i
                              class="fa fa-edit"></i></button>
                          <button type="button" class="btn btn-primary btn-xs" (click)="sendEmail()"><i
                              class="mdi mdi-arrow-right"></i></button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <div class="mdi mdi-account" (click)="getEmails()">User Email</div>
            </ng-template>
            <ng-template ngbTabContent>
                <button class="btn btn-primary btn-fw btn-new-category" (click)="createEmail(true)"
                style="margin-bottom: 20px;">New Email</button>
              <h3 class="card-title">Emails</h3>
              <div class="table-responsive">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>
                        Users
                      </th>
                      <th>
                        Option
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let email of arrayEmail; index as i">
                      <td>
                        {{email}}
                      </td>
                      <td>
                          <div class="template-demo">
                              <button type="button" class="btn btn-warning btn-xs" (click)="updateEmail(i)"><i
                                  class="fa fa-edit"></i></button>
                              <button type="button" class="btn btn-danger btn-xs" (click)="deleteEmail(i)"><i
                                  class="fa fa-window-close"></i></button>
                            </div>
                        </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
  <!-- fin principal div -->
</div>



<div class="row" *ngIf="view === true">
  <div class="col-md-12  grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div style="float: right;"><i class="mdi mdi-close" (click)="deleteview()"></i></div>
        <h4 class="card-title">configure report</h4>
        <form #customerform="ngForm">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="example-time-input" class="col-2 col-form-label">Time</label>
              <div class="col-10">
                <input class="form-control" [(ngModel)]="hour" name="hour" id="hour" type="time" value="" id="example-time-input">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-save" [disabled]="!customerform.form.valid" (click)="addReport()">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="viewEmail === true">
    <div class="col-md-12  grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div style="float: right;"><i class="mdi mdi-close" (click)="deleteview()"></i></div>
          <h4 class="card-title">Email</h4>
          <form #customerform="ngForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="dateOfBirth">Email Register:</label>
                <div class="form-group">
                  <input type="text" [(ngModel)]="email" name="email" id="email" class="form-control" placeholder="" required
                    #emails="ngModel">
                  <div *ngIf="emails.errors && (emails.dirty || emails.touched)" class="alert alert-danger">
                    <div [hidden]="!emails.errors.required">
                      email is Required!
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-save" [disabled]="!customerform.form.valid" (click)="addEmail()">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>