<div class="row">
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 grid-margin stretch-card">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <i class="fa fa-clipboard icon-lg color-icono"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Projects</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0">$65,650</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 grid-margin stretch-card">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <i class="fa fa-tasks color-icono icon-lg"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Task</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0">3455</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 grid-margin stretch-card">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <i class="fa fa-users color-iconoc icon-lg"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Clients</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0">5693</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="row">

    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 grid-margin stretch-card">
        <div class="card card-statistics">
          <div class="card-body">
            <div class="clearfix">
              <div class="float-left">
                <i class="fa fa-clipboard icon-lg color-iconop"></i>
              </div>
              <div class="float-right">
                <p class="mb-0 text-right">Pending Projects</p>
                <div class="fluid-container">
                  <h3 class="font-weight-medium text-right mb-0">246</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 grid-margin stretch-card">
          <div class="card card-statistics">
            <div class="card-body">
              <div class="clearfix">
                <div class="float-left">
                  <i class="fa fa-tasks color-iconop icon-lg"></i>
                </div>
                <div class="float-right">
                  <p class="mb-0 text-right">Pending Tasks</p>
                  <div class="fluid-container">
                    <h3 class="font-weight-medium text-right mb-0">246</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 grid-margin stretch-card">
            <div class="card card-statistics">
              <div class="card-body">
                <div class="clearfix">
                  <div class="float-left">
                    <i class="fa fa-user color-iconou icon-lg"></i>
                  </div>
                  <div class="float-right">
                    <p class="mb-0 text-right">Users</p>
                    <div class="fluid-container">
                      <h3 class="font-weight-medium text-right mb-0">246</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

</div>


